{% extends "Student.html" %}
{% block title %}Courses{% endblock %}
{% block content %}
<!--
<div>
    <h1> COURSES</h1>
        <p>
            Course 1  Credits 1     Other Info
            <br>
            <br>
            Course 2  Credits 2     Other Info
            <br>
            <br>
            Course 3  Credits 3     Other Info
        </p>
</div>
-->

<div class="content align-items-center w-100 ">

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4 text-dark">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Course Details</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr class="text-dark">
                            <th scope="col">Course Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for takes in takes %}
                            {% if takes.UID == user.UID%}
                            <tr>
                                <td>{{takes.Course_Code}}</td> <!--maybe query using data found in course code-->
                            </tr>
                            {% endif %}
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Recent Sales End -->
</div>
{% endblock %}