{% extends "Student.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<!--
<div>
    <h1> PROFILE</h1>
        <p >
            Name: Omkar Rao 
            <br>
            <br>
            <br>
            <br>
            UID: 2021300102
            <br>
            <br>
            <br>
            <br>
            Branch: Computer Engineering
        </p>
</div>
-->

<div class="content align-items-center w-100 ">
    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4 ">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3 mb-3">
                <div
                    class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-white">
                    <div class="ms-3">
                        <p class="mb-2">Name</p>
                        <h6 class="mb-0">Omkar XYZ Rao</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-3">
                <div
                    class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-white">
                    <div class="ms-3">
                        <p class=" ms-3 mb-2">UID-2021300102</p>
                        <p class=" ms-3 mb-0">CGPA- 9.5</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3 mb-3">
                <div
                    class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 bg-white">
                    <div class="ms-3">
                        <p class="mb-2">Branch</p>
                        <h6 class="mb-0">Computer Engineering</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->


    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6 mb-3">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Personal Information</h6>
                    </div>
                    <div class="text-left">
                        <h5> Full_Name</h5>
                        <h5> Mothers_Name</h5>
                        <h5> Fathers_Name</h5>
                        <h5> Gender</h5>
                        <h5> DOB</h5>
                        <h5> Age</h5>
                        <h5> Phone_No</h5>            
                        <h5> Address</h5>
                        <h5> Personal_email</h5>
                        <h5> Caste</h5>
                        <h5> Fees</h5>
                        <h5> Fees_Status</h5>
                        <h5> Year_Of_Graduation</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6 mb-3">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Courses</h6>
                    </div>
                    <div class="text-left text-dark">
                        <h5>Course1</h5>
                        <h5>Course2</h5>
                        <h5>Course3</h5>
                        <h5>Course4</h5>
                        <h5>Course5</h5>
                        <h5>Course6</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sales Chart End -->

</div>
{% endblock %}